body {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.row-1 {
    background-color: violet;
    height: 20px;
    width: 100px;
}